/* styles.css */

/* * { border: 1px solid red; } */


header { 
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
}

body {
    display: flex;
    flex-direction: column;
    /* align-items: flex-stretch; */
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

img {
    border-radius: 15px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.imagesheader {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.infogroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-bottom: 100px;
}

.topbox {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
}

.topgroup {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 64px;
    margin-bottom: 64px;
}

.leftbox {
    width: 50%;
}

.headline {
    font-size: 48px;
    margin: 0;
    color: #F9FAF8;
}

.subheader {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.headerlogo {
    margin: 0;
}

.bottombox {
    /* width: 920px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    background-color: #E5E7EB;
    width: 100%;
}

.quotebox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 920px;
    margin: 64px;

}

.quote {
    font-style: italic;
    font-weight: light;
    font-size: 36px;
    color: #1F2937;
}

.footerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    margin-top: 64px;  
    margin-bottom: 64px; 
}

.CTAbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 5px;
    gap: 64px;
    /* padding-left: 64px;
    padding-right: 64px; */
    width: 80%;
}


.CTAtext {
    padding: 32px;
    color: #E5E7EB;
    font-size: 18px;
}

.CTAbox button {
    margin: 16px;
    border-color: #E5E7EB;
}

.leftbox button {
    margin-top: 8px;
}

button {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    color: #E5E7EB;
    background-color: #3882F6;
}